* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Roboto", sans-serif;
}

li {
	list-style: none;
}

img {
	display: block;
}

body {
	width: 100vw;
	height: 100vh;
}

p, *::placeholder {
	font-size: 1rem;
}